 .u-section-1 {
  min-height: 630px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 676px;
  background-image: url("images/4cf0515827a3effefd8fb7d0a9e1d2ae4c93f04af438d00e722488d4aeab36d8007d776bcddae1f9309496bc959f5102fa15047dc619bf5ad3c5ea_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 676px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 75px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 66px 343px 0 25px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 300;
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 500px;
  }

  .u-section-1 .u-image-1 {
    min-height: 641px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 620px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 592px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-image-1 {
    min-height: 582px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 582px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 88px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 66px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 792px;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 832px;
  }

  .u-section-1 .u-image-1 {
    min-height: 312px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 484px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #77aad9);
}

.u-section-2 .u-sheet-1 {
  min-height: 663px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-2 .u-image-1 {
  background-image: url("images/8426514376_e5fffeab9d_o.jpg");
  min-height: 543px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 543px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 39px;
}

.u-section-2 .u-text-1 {
  margin: 88px 21px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 38px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    min-height: 448px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 343px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 515px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 324px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #f9e79b);
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 29px auto 60px 0;
} .u-section-4 {
  background-image: linear-gradient(white, #db545a);
}

.u-section-4 .u-sheet-1 {
  min-height: 918px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 31px auto 0 0;
}

.u-section-4 .u-image-1 {
  height: 421px;
  margin-bottom: 31px;
  margin-top: 30px;
} .u-section-5 {
  background-image: linear-gradient(white, #858e99);
}

.u-section-5 .u-sheet-1 {
  min-height: 1668px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 31px auto 0 0;
}

.u-section-5 .u-image-1 {
  height: 1103px;
  margin-bottom: 60px;
  margin-top: 30px;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 2052px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 60px;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 31px 0 0;
}

.u-section-6 .u-image-1 {
  height: 736px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 72px 0 0;
}

.u-section-6 .u-image-2 {
  height: 590px;
  margin-bottom: 0;
  margin-top: -31px;
  object-position: 50% 0%;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 30px 0 60px;
}